ion-toolbar{
    background-color: #32623d;
}

ion-card-header{
    background-color: #fafdfb;
}

// estilo a los botones con un borde
.boton{
    border-radius: 2rem;
    border: 2px solid#b4b4b4;
}
.posicion{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}