<ion-header >
  <ion-toolbar color="mycolor" >
    <ion-title>Panel de Control</ion-title>
    <ion-buttons slot="end" class="boton">
      <ion-button color="whit" [routerLink]="['/menu']">Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 style="justify-content: center; text-align: center;" >Control de Ultrasonicos</h5>
  <ion-card class="boton">
    <div class=" posiicion">
  <ion-toggle (click)="handleToggleClick()" [checked]="toggleValue" 
  style="justify-content: center; margin: 40px;"></ion-toggle> 
</div>
<div class="posicion">
  {{ data1}}
  <br>
  <br>
</div>
</ion-card>
</ion-content>
