<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Las herramientas que se usaron para el desarrollo del Comedero fueron los siguientes:
    </ion-card-content>
  </ion-card>
  

  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <img src="/assets/icon/ESP32CAM.jpg">
          <h2>ESP32CAM</h2>
          <ion-card-content class="ion-text-left">
            Esta placa contiene unacamara que nos permite tomar las fotos y guardarlas en una SD
          </ion-card-content>
      </ion-card>
    </ion-slide>
  
  
    <!-- segundo cart -->

      <ion-slide>
        <ion-card>
          <img src="/assets/icon/ULTRASONICO.jpg">
            <h2>ULTRASONICO</h2>
            <ion-card-content class="ion-text-left">
              Este sensor nos permite medir la cantidad de comida que tenemos almacenada en el comedero.
            </ion-card-content>
        </ion-card>
      </ion-slide>

  
        <ion-slide>
          <ion-card>
            <img src="/assets/icon/PIR.jpg">
              <h2>PIR</h2>
              <ion-card-content class="ion-text-left">
                Este sensor nos permite detectar el mvimiento en el comedero para que se active la ESP32 CAM 
              </ion-card-content>
          </ion-card>
        </ion-slide>
  
  </ion-slides>
  <!-- MENU -->

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="radio" [routerLink]="[ '/dashboard' ]">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="radio" [routerLink]="[ '/herramientas' ]">
        <ion-icon name="hammer-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="library" [routerLink]="[ '/graphics' ]">
        <ion-icon name="trending-up-outline"></ion-icon>
        </ion-tab-button>
      <ion-tab-button tab="search" [routerLink]="[ '/profile' ]">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
