<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>
      Gráficas
    </ion-title>
    <ion-buttons slot="end" class="boton">
      <ion-button color="whit" [routerLink]="['/menu']">Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
<!-- graficas -->
<div class="boton">

  
    <div class="ion-text-center">
        <h6>Numero de Fotos</h6>
        <div *ngIf="data" lines="none" class="foto" >
        {{ data.Fotos}}
        <br>
        <br>
      </div>
    </div>
</div>


<div class="boton">

  <ion-col>
    <div class="ion-text-center">
      {{ "Almacen" }}
      <ion-item *ngIf="data" lines="none">
        Le queda al el {{ data.Almacen}}% de comida
        <div
          class="pie"
          [ngStyle]="{'--p': data1}"
          style="--p: 50; --b: 10px; --c: green "
         >
          {{ data.Almacen}}%
        </div>
      </ion-item>
    </div>
  </ion-col> 
</div>
<!-- grafica 2 -->
<div class="boton">
  <ion-col>
    <div class="ion-text-center">
      {{ "Recipiente" }}
      <ion-item *ngIf="data" lines="none">
        Le queda {{ data.Recipiente}}% de comida 
        <div
          class="pie"
          [ngStyle]="{'--p': data2}"
          style="--p: 50; --b: 10px; --c: purple"
        >
          {{ data.Recipiente}}%
        </div>       
      </ion-item>
    </div>
  </ion-col>
</div>
<!-- <ion-card>
  Numero de fotos 
  <div>
    <div>
      {{ data.Fotos }}
    </div>
  </div> -
Numero de fotos 
</ion-card> -->
</ion-content>


  <!-- <ion-card>
    <ion-card-content>
      <canvas #doughnutCanvas style="position: relative; height: 20vh; width: 40vw;"></canvas>
    </ion-card-content>
  </ion-card> -->