// separar cosas
.separador{
  margin-block-end: 10px;
}

// Diseño de graficas
.gfc {
  --w:50%;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5%;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
.gfc:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: solid;
  border-color: #000000;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#000000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#29a831 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#17ae0c calc(100% - var(--b)));
}



ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}
//Parrafo de grafica para el porcentaje 

.foto{
  align-content: center;

}
ion-tabs{
  position: fixed;
  bottom: 0;
  width: 100%;
}

ion-toolbar{
  background-color: #32623d;
}

ion-tab-button{
 color: #32623d;
}

ion-back-button{
  color: #ffffff;
}

ion-title{
  color: #ffffff;
}
.cardcolor{
  border-radius: 2rem;
  border: 2px solid#b4b4b4;
  margin: 12px;
  color: #000000;
}

.boton{
  border-radius: 2rem;
  border: 2px solid#b4b4b4;
  margin: 12px;
}
.boton1{
  border-radius: -2rem;
  border: 2px solid#040404;
  margin: 12px;
}
.boton3{
  border-radius: -5rem;
  border: 2px solid#b4b4b4;
  margin: 12px;
}

// cambiar el color dependiendo de el numero de fotos
.boton-incidencias {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(5, 5, 5);
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
}

.rojo {
  background-color: rgb(235, 60, 60);
  border-radius: 2rem;
  border: 2px solid#b4b4b4;
}

.amarillo {
  background-color: rgb(255, 255, 105);
  border-radius: 2rem;
  border: 2px solid#b4b4b4;
}

.verde {
  background-color: rgb(92, 246, 92);
  border-radius: 2rem;
  border: 2px solid#b4b4b4;
}
//COLORES
.rojo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: rgb(235, 60, 60);
  border-radius: 2rem;
  border: 2px solid#b4b4b4;
  width: 40vw;
  height: 5vh;
  margin-bottom: 2vh;
}

.amarillo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: rgb(255, 255, 105);
  border-radius: 2rem;
  border: 2px solid#b4b4b4;
  width: 40vw;
  height: 5vh;
  margin-bottom: 2vh;
}

.verde1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: rgb(92, 246, 92);
  border-radius: 2rem;
  border: 2px solid#b4b4b4;
  width: 40vw;
  height: 5vh;
  margin-bottom: 2vh;
}

.nivel{
  display: flex;
  justify-content: center;
  align-items: center;
}