ion-tabs{
    position: fixed;
    bottom: 0;
    width: 100%;
}

ion-toolbar{
    background-color: #32623d;
}

ion-tab-button{
   color: #32623d;
}

ion-back-button{
    color: #ffffff;
}

ion-title{
    color: #ffffff;
}
