<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Graficos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

  <!-- Graficas -->
 
  <ion-card>
    <ion-header>
      Grafica de dona
    </ion-header>
    <ion-card-content>
      <canvas #doughnutCanvas style="position: relative; height: 20vh; width: 40vw;"></canvas>
    </ion-card-content>
  </ion-card>
  
  <!-- Tabs -->
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="radio" [routerLink]="[ '/dashboard' ]">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="library" [routerLink]="[ '/graphics' ]">
        <ion-icon name="trending-up-outline"></ion-icon>
        </ion-tab-button>
      <ion-tab-button tab="search" [routerLink]="[ '/profile' ]">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>