<ion-header >
  <ion-toolbar color="mycolor" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="mycolor">

  <ion-card>
    <ion-card-header>
      <ion-card-title> !Hola bienvenido de nuevo!  </ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-slides  class="xd" pager="true" >
    <ion-slide>
      <ion-card>
        <img src="/assets/icon/comedero.jpeg">
      </ion-card>
    </ion-slide>
  
    <!-- segundo cart -->
    <ion-slide>
      <ion-card>
        <img  src="/assets/icon/comedero1.jpeg">
      </ion-card>
    </ion-slide>
    <!-- tercer card -->
    <ion-slide>
      <ion-card>
        <img src="/assets/icon/comedero2.jpeg">
      </ion-card>
    </ion-slide>
  
  </ion-slides>
   <!-- TEXT -->
  <ion-card>
    <ion-card-content>
      PECKCAM es una propuesta acerca de un comedero inteligente, donde recaudamos informacion de aves mediante nuestro conocimiento de IOT, FIREBASE y IONIC
      <br>
      <br>
      <br>
    </ion-card-content>
  </ion-card>
  
<!-- FINTXT -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button color="mycolor"  tab="radio" [routerLink]="[ '/dashboard' ]">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button  color="mycolor" tab="radio" [routerLink]="[ '/herramientas' ]">
        <ion-icon name="hammer-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button  color="mycolor" tab="library" [routerLink]="[ '/graphics' ]">
        <ion-icon name="trending-up-outline"></ion-icon>
        </ion-tab-button>
      <ion-tab-button  color="mycolor" tab="search" [routerLink]="[ '/profile' ]">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<!-- MENU -->

 


