
ion-card-title{
    font-size:  x large;
    justify-content: center;
    text-align: center;
}


ion-slides{
width: 2
rem;
height: 30rem;
object-fit: cover;

}

ion-card-content{
    justify-content:center;
    text-align: justify;
    color: rgb(0, 0, 0);
}

img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}
ion-card{
    margin-top: 10%;
    background-color:#fbfffc;
}

.xd{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    display: flex;
    animation: cambio 2s infinite alternate linear; 
    
}
ion-card-title{
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(0, 0, 0);
}

ion-tabs{
    position: fixed;
    bottom: 0;
    width: 100%;
}

ion-toolbar{
    background-color: #32623d;
}


ion-card-header{
    background-color: #fafdfb;
}
ion-tab-button{
   color: #32623d;
}

