.login-grid {
  height: 100%;

  ion-row {
      height: 100%;
  }
}

ion-button {
  --background: rgba(40, 40, 54, 1);
  height: 3em;
  width: 8em;
}

.login-grid {
  height: 100%;
  ion-row {
    height: 100%;
  }
}

.center{
  margin-top: 12em;
  margin-left: 3.5em;
}